@import url('https://fonts.googleapis.com/css2?family=Anek+Devanagari:wght@300&family=Big+Shoulders+Display:wght@700&family=Poppins:wght@200;300;400;600;700;800&display=swap');

*{
  margin: 0;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

.commentStyle{
  display: flex;
  flex-direction: row;
  padding: 5px;
}

.buttonContainer{
  display: flex;
  flex-direction: row;
  padding: 5px;
}